@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html, body {
    margin: 0;
    padding: 0;
    font-family: Cubano, sans-serif;
    line-height: 1.6;
    color: #333;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
