@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'aos/dist/aos.css';


@font-face {
  font-family: 'cubano';
  src: url('/fonts/Cubano.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
    max-width:100vw;
    min-height:100vh;
    overflow-x:hidden;
}


.text-gradient-blue {
    background: linear-gradient(
      0deg,
      theme("colors.gradient-start-blue"),
      theme("colors.gradient-end-blue")
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient-red {
    background: linear-gradient(
      0deg,
      theme("colors.gradient-start-red"),
      theme("colors.gradient-end-red")
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .text-gradient-orange {
    background: linear-gradient(
      0deg,
      theme("colors.gradient-start-orange"),
      theme("colors.gradient-end-orange")
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .text-gradient-green {
    background: linear-gradient(
      0deg,
      theme("colors.gradient-start-green"),
      theme("colors.gradient-end-green")
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .text-gradient-purple {
    background: linear-gradient(
      0deg,
      theme("colors.gradient-start-purple"),
      theme("colors.gradient-end-purple")
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .text-gradient-pink {
    background: linear-gradient(
      0deg,
      theme("colors.gradient-start-pink"),
      theme("colors.gradient-end-pink")
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDownOut {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
    
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
}

.fadeDownOut{
  animation-name: fadeDownOut;
  animation-duration: 0.6s;
}